/** Background from: https://hekate2.github.io/website-tools/index.html?q= */

:root {
    --gray: #a4b7b5;
    --black: #000000;
    --red: #ff0000;
    --blue: #0000ff;
}

/* outline for setup
* {
    outline: white 1px solid;
}
TODO remove this
*/

body {
    background-image: url(/images/backgrounds/metal004_light.jpg);
    background-attachment: fixed;
}

h1{
    color: white
}
#recipes ul, a {
    color: white;
}