/** Backgrounds from: https://hekate2.github.io/website-tools/index.html?q= */

:root {
    --gray: #a4b7b5;
    --black: #000000;
    --red: #ff0000;
    --blue: #0000ff;
}

* {
    outline: white 1px solid; /*! remove later; only for setup */
}

body {
    background: url(/images/backgrounds/metal004_light.jpg);
}
