/** Background from: https://hekate2.github.io/website-tools/index.html?q= */

:root {
    --gray: #a4b7b5;
    --black: #000000;
    --red: #ff0000;
    --blue: #0000ff;
}

/* outline for setup
* {
    outline: white 1px solid;
}
TODO remove this
*/

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid var(--gray);
}

th {
    background-color: black;
    color: white;
    text-align: left;
}

tr:hover {
    background-color: var(--gray);
}
